@font-face {
    font-family: 'IBM BIOS';
    src: url('../assets/Ac437_IBM_BIOS-2y.ttf') format('truetype');
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    color: #00ff00;
    font-family: 'IBM BIOS', monospace;

}

h1 {
    font-family: 'IBM BIOS', monospace;
    color: white;
    font-size: 32px;
    padding: 0;
    margin: 0;
}

#title-container {
    width: calc(300px + 100px + 10px); /* Width of input + width of button + gap */
    height: 32px; /* Height of the h1 element */
    display: block;
    position: relative;
    overflow: hidden;
    padding-bottom: 10px;
}


#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

#search-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#search-container > div {
    text-align: left;
}

#suggestions-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    gap: 5px;
    margin-top: 20px;

    width: calc(300px + 100px + 10px); /* Width of input + width of button + gap */
}

input[type="text"] {
    border-radius: 0px;
    background: transparent;
    border: 2px solid #00ff00;
    color: #00ff00;
    font-family: 'IBM BIOS', monospace;

    width: 300px;
    padding: 5px;

    caret-shape: block;

}

input[type="text"]:focus {
    outline: none;
    border: 2px solid #00ff00;
    box-shadow: none;
}

input[type="text"]::placeholder {
    color: #00ff00;
}

button {
    border-radius: 0px;
    background: transparent;
    border: 2px solid #00ff00;
    color: #00ff00;
    font-family: 'IBM BIOS', monospace;

    width: 100px;
    padding: 5px;
}

#settings-container {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

input[type="checkbox"] {
    appearance: none;
    background-color: #000;
    margin: 0;
    font: inherit;
    color: #00ff00;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid #00ff00;
    border-radius: 0px;
    transform: translateY(-0.075em);

    display: grid;
    place-content: center;
}

input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1.15em 1.15em #00ff00;
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

input[type="checkbox"]:focus {
  outline: max(2px, 0.15em) solid #00ff00;
  outline-offset: max(2px, 0.15em);
}

label {
  display: grid;
  grid-template-columns: 1em auto;
  gap: 0.5em;
}

